body{
	background-image: url(img/background.jpg);
	background-position: top left; 
    background-repeat: no-repeat;
    background-size: 100%;
}


.header{
	color: #ffffff;
}
.header__logo{

}
.header__titles-container{

}
.header__heading{

}
.header__subtitle{

}


.container{

}
.container__form{
		position: relative;
	top: 50px;
	left: 150px;
	border-radius: 5px;
	background-color: #ffffff;
	width: 1200px;

}
.container__samples{

}
.container__hotel{

}
.container__rooms{

}
.container__title{

}
.container__list-details{

}
.container__hr{

}
.container__location-address{

}


.form{

}
.form__search{

}
.form__date{

}
.form__quantity-people{

}
.form__checkbox-row{

}
.from__button{

}
.form__summary{

}


.date{

}
.date__label{

}
.date__input{

}


.quantity{

}
.quantity__label-adults{

}
.quantity__select-adults{

}
.quantity__label-children{

}
.quantity__select-children{

}


.checkbox-row{

}
.checkbox-row__checkbox-sale{

}
.checkbox-row__label-sale{

}


.button{
	border: 1px, solid, db0536;
	border-radius: 10px;
}
.button_big{

}
.button_red{
	background-color: db0536;
}


.summary{

}
.summary_black{

}
.summary__dates{

}
.summary__item{

}


.icon{

}
.icon_moon{

}
.icon_adult{

}
.icon_child{

}